article {
    width: 31%;
    border: 3px dotted rgb(170, 170, 170);
    display: inline-flex;
    align-items: center;
    gap: 2px;
    padding: 5px;
    margin: 5px;
    color: rgb(247, 247, 247);
}

img {
    width: 80px;
    object-fit: cover;
    margin-left: 20px;
}

article div {
    width: 100%;
    text-align: center;
}
body{
    background-color: #525050;
}